@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 90%);
  --accent: hsl(0, 0%, 10%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 10%);
    --accent: hsl(0, 0%, 90%);
  }
}

@theme {
  --color-background: var(--background);
  --color-accent: var(--accent);
}

@layer base {
  .auth-form-input {
    @apply border-background focus:bg-background focus:text-accent focus:border-accent w-[90%] border-2 px-3 py-2 duration-300 outline-none focus:border-2 focus:font-bold;
  }
  .auth-form-button {
    @apply bg-background text-accent w-full px-3 py-2 text-center text-sm font-bold;
  }
  .nav-items {
    @apply flex flex-col items-center justify-evenly gap-1 text-[0.6rem] font-bold;
  }
}
